In [ ]:
# def fill_account_turnover_f(
#     on_date: str,
#     md_account_d: DataFrame,
#     ft_posting_f: DataFrame,
# ) -> DataFrame:
#     account_rk = ft_posting_f.where(ft_posting_f['oper_date'] = on_date).select('credit_account_rk'.alias('account_rk')

In [33]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
spark = SparkSession.builder \
    .appName("fill_account_turnover_f") \
    .enableHiveSupport() \
    .getOrCreate()

In [34]:
ft_posting_f = spark.read.parquet('/user/hive/warehouse/ds.db/ft_posting_f')

In [40]:
ft_posting_f.show()

+----------+-----------------+----------------+-------------+------------+
| OPER_DATE|CREDIT_ACCOUNT_RK|DEBET_ACCOUNT_RK|CREDIT_AMOUNT|DEBET_AMOUNT|
+----------+-----------------+----------------+-------------+------------+
|09-01-2018|            13630|           17436|     94333.93|    18337.76|
|09-01-2018|         15698716|           13630|     68294.14|    31542.06|
|09-01-2018|         12048338|           13630|      2192.96|    98734.33|
|09-01-2018|        393808409|           17244|     44179.86|    98544.65|
|09-01-2018|        409685020|           13630|     18843.05|      889.74|
|09-01-2018|         10006159|           13630|     82792.29|    15395.98|
|09-01-2018|        393808409|           17132|      9587.62|     40751.1|
|09-01-2018|            23463|           13631|     36873.02|    78441.61|
|09-01-2018|        393808409|           17436|      34865.7|    93870.21|
|09-01-2018|         15698716|           13630|     29712.22|    79306.55|
|09-01-2018|        409685020|           13630|     61573.19|    27216.17|
|09-01-2018|            13985|           13630|     15621.88|    73817.74|
|09-01-2018|          1761691|           13630|     15780.77|    55820.18|
|09-01-2018|        528641685|           13630|     77475.62|     4541.71|
|09-01-2018|          1761691|           13630|     66496.82|    84101.88|
|09-01-2018|            13985|           13630|     33174.22|    53938.02|
|09-01-2018|            30277|           17436|     36271.26|    75077.55|
|09-01-2018|            13630|        36213979|     35494.01|    87183.62|
|09-01-2018|          6093814|           13630|     72657.06|    24602.67|
|09-01-2018|        409685020|           13630|     64138.13|     5747.71|
+----------+-----------------+----------------+-------------+------------+
only showing top 20 rows

In [59]:
posting_on_date = ft_posting_f.where(F.col('oper_date') == '09-01-2018')
credit_account_rk = posting_on_date.select(F.col('credit_account_rk').alias('account_rk'))
debet_account_rk = posting_on_date.select(F.col('debet_account_rk').alias('account_rk'))
account_rk = credit_account_rk.union(debet_account_rk).distinct();
account_rk.show()
account_rk.agg(F.count('account_rk')).show()

+----------+
|account_rk|
+----------+
| 529814231|
|     17437|
|  41413657|
| 529815173|
|   6077138|
|     13873|
|  46179628|
|     17244|
|   2718489|
|     45865|
|  57223170|
| 529751892|
| 312741916|
| 434141714|
|     13685|
| 305763419|
|  67304576|
| 529813078|
| 529815183|
| 393807930|
+----------+
only showing top 20 rows

+-----------------+
|count(account_rk)|
+-----------------+
|              212|
+-----------------+

In [68]:
#posting_on_date = posting_on_date.join(account_rk, posting_on_date['credit_account_rk'] == account_rk['account_rk'], how = 'inner') # Нужно ли?
posting_on_date.agg(F.count('account_rk')).show()
posting_on_date.show()
credit_amount = posting_on_date.groupby('credit_account_rk')\
.agg(F.sum('credit_amount')).select
credit_amount.show()

+-----------------+
|count(account_rk)|
+-----------------+
|             2968|
+-----------------+

+----------+-----------------+----------------+-------------+------------+----------+
| OPER_DATE|CREDIT_ACCOUNT_RK|DEBET_ACCOUNT_RK|CREDIT_AMOUNT|DEBET_AMOUNT|account_rk|
+----------+-----------------+----------------+-------------+------------+----------+
|09-01-2018|            13630|           17436|     94333.93|    18337.76|     13630|
|09-01-2018|         15698716|           13630|     68294.14|    31542.06|  15698716|
|09-01-2018|         12048338|           13630|      2192.96|    98734.33|  12048338|
|09-01-2018|        393808409|           17244|     44179.86|    98544.65| 393808409|
|09-01-2018|        409685020|           13630|     18843.05|      889.74| 409685020|
|09-01-2018|         10006159|           13630|     82792.29|    15395.98|  10006159|
|09-01-2018|        393808409|           17132|      9587.62|     40751.1| 393808409|
|09-01-2018|            23463|           13631|     36873.02|    78441.61|     23463|
|09-01-2018|        393808409|           17436|      34865.7|    93870.21| 393808409|
|09-01-2018|         15698716|           13630|     29712.22|    79306.55|  15698716|
|09-01-2018|        409685020|           13630|     61573.19|    27216.17| 409685020|
|09-01-2018|            13985|           13630|     15621.88|    73817.74|     13985|
|09-01-2018|          1761691|           13630|     15780.77|    55820.18|   1761691|
|09-01-2018|        528641685|           13630|     77475.62|     4541.71| 528641685|
|09-01-2018|          1761691|           13630|     66496.82|    84101.88|   1761691|
|09-01-2018|            13985|           13630|     33174.22|    53938.02|     13985|
|09-01-2018|            30277|           17436|     36271.26|    75077.55|     30277|
|09-01-2018|            13630|        36213979|     35494.01|    87183.62|     13630|
|09-01-2018|          6093814|           13630|     72657.06|    24602.67|   6093814|
|09-01-2018|        409685020|           13630|     64138.13|     5747.71| 409685020|
+----------+-----------------+----------------+-------------+------------+----------+
only showing top 20 rows

+-----------------+------------------+
|credit_account_rk|sum(credit_amount)|
+-----------------+------------------+
|        529814231|          75366.83|
|            17437|410260.04000000004|
|         41413657| 98796.26000000001|
|        529815173|          49103.21|
|          6077138|         294092.74|
|            13873|          14956.22|
|         46179628|         125366.43|
|            17244|         218503.42|
|          2718489|          11376.49|
|            45865|          34003.62|
|         57223170|          45337.86|
|        529751892|           10855.9|
|        312741916|         112024.25|
|        434141714| 925679.1699999999|
|            13685|          155499.7|
|        305763419|         125501.31|
|         67304576|         204720.97|
|        529813078|          27560.56|
|        529815183|          99139.08|
|        393807930|          62104.16|
+-----------------+------------------+
only showing top 20 rows