In [1]:
from fill_dm_account_balance_f import fill_dm_account_balance_f
from pyspark.sql import SparkSession, Row
from pyspark.sql import functions as F
from datetime import datetime
import time
import uuid

In [2]:
spark = SparkSession.builder \
    .appName("fill_dm_account_balance") \
    .enableHiveSupport() \
    .getOrCreate()

spark.sql('Use DM')

DataFrame[]

In [3]:
dates_jan_2018 = [f"2018-01-{day:02d}" for day in range(1, 32)]
print(dates_jan_2018)

['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08', '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16', '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20', '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24', '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28', '2018-01-29', '2018-01-30', '2018-01-31']

In [4]:
start_time = datetime.now()
job_name = "fill_dm_account_balance_f"
status = "SUCCESS"
for date_str in dates_jan_2018:
    df = fill_dm_account_balance_f(date_str, spark)
    print(f"{date_str}: строк в df = {df.count()}")
    df.show(5)
    df.write.mode("append").insertInto("dm.dm_account_balance_f")
time.sleep(5)

end_time = datetime.now()

log_row = Row(
    id=str(uuid.uuid4()),
    job_name=job_name,
    start_time=start_time,
    end_time=end_time,
    status=status
)
log_df = spark.createDataFrame([log_row])
log_df.write.mode("append").insertInto("logs.LOGS")

2018-01-01: строк в df = 112
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-01|
|     24656|   80533.62|       80533.62|2018-01-01|
|  18849846|   63891.96|       63891.96|2018-01-01|
|   1972647|  5087732.1|      5087732.1|2018-01-01|
|  34157174|  7097806.9|      7097806.9|2018-01-01|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-02: строк в df = 224
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-02|
|  36237725|   38318.13|       38318.13|2018-01-02|
|     24656|   80533.62|       80533.62|2018-01-02|
|     24656|   80533.62|       80533.62|2018-01-02|
|  18849846|   63891.96|       63891.96|2018-01-02|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-03: строк в df = 336
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-03|
|  36237725|   38318.13|       38318.13|2018-01-03|
|  36237725|   38318.13|       38318.13|2018-01-03|
|     24656|   80533.62|       80533.62|2018-01-03|
|     24656|   80533.62|       80533.62|2018-01-03|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-04: строк в df = 448
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-04|
|  36237725|   38318.13|       38318.13|2018-01-04|
|  36237725|   38318.13|       38318.13|2018-01-04|
|  36237725|   38318.13|       38318.13|2018-01-04|
|     24656|   80533.62|       80533.62|2018-01-04|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-05: строк в df = 560
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-05|
|  36237725|   38318.13|       38318.13|2018-01-05|
|  36237725|   38318.13|       38318.13|2018-01-05|
|  36237725|   38318.13|       38318.13|2018-01-05|
|  36237725|   38318.13|       38318.13|2018-01-05|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-06: строк в df = 672
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-06|
|  36237725|   38318.13|       38318.13|2018-01-06|
|  36237725|   38318.13|       38318.13|2018-01-06|
|  36237725|   38318.13|       38318.13|2018-01-06|
|  36237725|   38318.13|       38318.13|2018-01-06|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-07: строк в df = 784
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-07|
|  36237725|   38318.13|       38318.13|2018-01-07|
|  36237725|   38318.13|       38318.13|2018-01-07|
|  36237725|   38318.13|       38318.13|2018-01-07|
|  36237725|   38318.13|       38318.13|2018-01-07|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-08: строк в df = 896
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-08|
|  36237725|   38318.13|       38318.13|2018-01-08|
|  36237725|   38318.13|       38318.13|2018-01-08|
|  36237725|   38318.13|       38318.13|2018-01-08|
|  36237725|   38318.13|       38318.13|2018-01-08|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-09: строк в df = 1008
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-09|
|  36237725|   38318.13|       38318.13|2018-01-09|
|  36237725|   38318.13|       38318.13|2018-01-09|
|  36237725|   38318.13|       38318.13|2018-01-09|
|  36237725|   38318.13|       38318.13|2018-01-09|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-10: строк в df = 1120
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-10|
|  36237725|   38318.13|       38318.13|2018-01-10|
|  36237725|   38318.13|       38318.13|2018-01-10|
|  36237725|   38318.13|       38318.13|2018-01-10|
|  36237725|   38318.13|       38318.13|2018-01-10|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-11: строк в df = 1232
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-11|
|  36237725|   38318.13|       38318.13|2018-01-11|
|  36237725|   38318.13|       38318.13|2018-01-11|
|  36237725|   38318.13|       38318.13|2018-01-11|
|  36237725|   38318.13|       38318.13|2018-01-11|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-12: строк в df = 1344
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-12|
|  36237725|   38318.13|       38318.13|2018-01-12|
|  36237725|   38318.13|       38318.13|2018-01-12|
|  36237725|   38318.13|       38318.13|2018-01-12|
|  36237725|   38318.13|       38318.13|2018-01-12|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-13: строк в df = 1456
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-13|
|  36237725|   38318.13|       38318.13|2018-01-13|
|  36237725|   38318.13|       38318.13|2018-01-13|
|  36237725|   38318.13|       38318.13|2018-01-13|
|  36237725|   38318.13|       38318.13|2018-01-13|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-14: строк в df = 1568
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-14|
|  36237725|   38318.13|       38318.13|2018-01-14|
|  36237725|   38318.13|       38318.13|2018-01-14|
|  36237725|   38318.13|       38318.13|2018-01-14|
|  36237725|   38318.13|       38318.13|2018-01-14|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-15: строк в df = 1680
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-15|
|  36237725|   38318.13|       38318.13|2018-01-15|
|  36237725|   38318.13|       38318.13|2018-01-15|
|  36237725|   38318.13|       38318.13|2018-01-15|
|  36237725|   38318.13|       38318.13|2018-01-15|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-16: строк в df = 1792
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-16|
|  36237725|   38318.13|       38318.13|2018-01-16|
|  36237725|   38318.13|       38318.13|2018-01-16|
|  36237725|   38318.13|       38318.13|2018-01-16|
|  36237725|   38318.13|       38318.13|2018-01-16|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-17: строк в df = 1904
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-17|
|  36237725|   38318.13|       38318.13|2018-01-17|
|  36237725|   38318.13|       38318.13|2018-01-17|
|  36237725|   38318.13|       38318.13|2018-01-17|
|  36237725|   38318.13|       38318.13|2018-01-17|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-18: строк в df = 2016
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-18|
|  36237725|   38318.13|       38318.13|2018-01-18|
|  36237725|   38318.13|       38318.13|2018-01-18|
|  36237725|   38318.13|       38318.13|2018-01-18|
|  36237725|   38318.13|       38318.13|2018-01-18|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-19: строк в df = 2128
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-19|
|  36237725|   38318.13|       38318.13|2018-01-19|
|  36237725|   38318.13|       38318.13|2018-01-19|
|  36237725|   38318.13|       38318.13|2018-01-19|
|  36237725|   38318.13|       38318.13|2018-01-19|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-20: строк в df = 2240
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-20|
|  36237725|   38318.13|       38318.13|2018-01-20|
|  36237725|   38318.13|       38318.13|2018-01-20|
|  36237725|   38318.13|       38318.13|2018-01-20|
|  36237725|   38318.13|       38318.13|2018-01-20|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-21: строк в df = 2352
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-21|
|  36237725|   38318.13|       38318.13|2018-01-21|
|  36237725|   38318.13|       38318.13|2018-01-21|
|  36237725|   38318.13|       38318.13|2018-01-21|
|  36237725|   38318.13|       38318.13|2018-01-21|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-22: строк в df = 2464
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-22|
|  36237725|   38318.13|       38318.13|2018-01-22|
|  36237725|   38318.13|       38318.13|2018-01-22|
|  36237725|   38318.13|       38318.13|2018-01-22|
|  36237725|   38318.13|       38318.13|2018-01-22|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-23: строк в df = 2576
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-23|
|  36237725|   38318.13|       38318.13|2018-01-23|
|  36237725|   38318.13|       38318.13|2018-01-23|
|  36237725|   38318.13|       38318.13|2018-01-23|
|  36237725|   38318.13|       38318.13|2018-01-23|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-24: строк в df = 2688
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-24|
|  36237725|   38318.13|       38318.13|2018-01-24|
|  36237725|   38318.13|       38318.13|2018-01-24|
|  36237725|   38318.13|       38318.13|2018-01-24|
|  36237725|   38318.13|       38318.13|2018-01-24|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-25: строк в df = 2800
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-25|
|  36237725|   38318.13|       38318.13|2018-01-25|
|  36237725|   38318.13|       38318.13|2018-01-25|
|  36237725|   38318.13|       38318.13|2018-01-25|
|  36237725|   38318.13|       38318.13|2018-01-25|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-26: строк в df = 2912
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-26|
|  36237725|   38318.13|       38318.13|2018-01-26|
|  36237725|   38318.13|       38318.13|2018-01-26|
|  36237725|   38318.13|       38318.13|2018-01-26|
|  36237725|   38318.13|       38318.13|2018-01-26|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-27: строк в df = 3024
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-27|
|  36237725|   38318.13|       38318.13|2018-01-27|
|  36237725|   38318.13|       38318.13|2018-01-27|
|  36237725|   38318.13|       38318.13|2018-01-27|
|  36237725|   38318.13|       38318.13|2018-01-27|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-28: строк в df = 3136
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-28|
|  36237725|   38318.13|       38318.13|2018-01-28|
|  36237725|   38318.13|       38318.13|2018-01-28|
|  36237725|   38318.13|       38318.13|2018-01-28|
|  36237725|   38318.13|       38318.13|2018-01-28|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-29: строк в df = 3248
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-29|
|  36237725|   38318.13|       38318.13|2018-01-29|
|  36237725|   38318.13|       38318.13|2018-01-29|
|  36237725|   38318.13|       38318.13|2018-01-29|
|  36237725|   38318.13|       38318.13|2018-01-29|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-30: строк в df = 3360
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-30|
|  36237725|   38318.13|       38318.13|2018-01-30|
|  36237725|   38318.13|       38318.13|2018-01-30|
|  36237725|   38318.13|       38318.13|2018-01-30|
|  36237725|   38318.13|       38318.13|2018-01-30|
+----------+-----------+---------------+----------+
only showing top 5 rows

2018-01-31: строк в df = 3472
+----------+-----------+---------------+----------+
|account_rk|balance_out|balance_out_rub|   on_date|
+----------+-----------+---------------+----------+
|  36237725|   38318.13|       38318.13|2018-01-31|
|  36237725|   38318.13|       38318.13|2018-01-31|
|  36237725|   38318.13|       38318.13|2018-01-31|
|  36237725|   38318.13|       38318.13|2018-01-31|
|  36237725|   38318.13|       38318.13|2018-01-31|
+----------+-----------+---------------+----------+
only showing top 5 rows

NameError: name 'Row' is not defined